.apropos {
    padding: 0 100px;
}

.apropos-content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 30px 0;
}

.apropos-container {
    max-width: 1023px;
    width: 100%;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .apropos {
        padding: 0 20px;
    }

    .apropos-content {
        padding: 20px 0;
    }

    .apropos-container {
        margin-top: 70px;
    }
}
